# vim: ft=jproperties
# code: language=properties

NAMESPACE=prometheus-apps

SCHEDULE_IMAGE_IMPORTS=false
SERVICE_MONITOR_SKIP_TLS_VERIFY=false

PROMETHEUS_ID=apps
OPENSHIFT_PROMETHEUS_PROXY_HOSTNAME=''
