# vim: ft=jproperties
# code: language=properties

NAMESPACE=prometheus-apps

PROMETHEUS_ID=apps

OPENSHIFT_PROMETHEUS_PROXY_SCRAPE_ENDPOINT=''
OPENSHIFT_PROMETHEUS_PROXY_SCRAPE_SKIP_TLS_VERIFY=false
