# vim: ft=jproperties
# code: language=properties

NAMESPACE=openshift-prometheus-proxy

OPENSHIFT_PROMETHEUS_PROXY_HOSTNAME=''
OPENSHIFT_PROMETHEUS_PROXY_UPSTREAM=''
OPENSHIFT_PROMETHEUS_PROXY_TLS_VERIFY=true

